body {
    background: linear-gradient(to left, black, orange, black);
    font-family: Arial, sans-serif;
}

#form {
    width: 400px;
    margin: 20vh auto;
    padding: 40px;
    background-color: whitesmoke;
    font-size: 16px;
    border-radius: 8px;
}

#form h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.input {
    margin-bottom: 15px;
}

.input label {
    display: block;
    margin-bottom: 5px;
    color: black;
}

.input input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: gray 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
}

.error-message{
    color: red;
    text-align: center;
}

#form button {
    display: block;
    padding: 10px;
    width: 100px;
    margin: 20px auto;
    color: black;
    background-color: orange;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#form button:hover {
    background-color: darkorange;
}

p {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

p a {
    color: dodgerblue;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
